

/*Estilos Generales*/ 

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Romana', Times, serif;
   }
   /* Index*/
header {
    color: rgb(0, 0, 0);
    padding: 5px;
    margin: 5px 20px;
    font-weight: bold;
    font-size: 70px;
    font-style: normal;
    text-align: end;
}

body header nav {
    background-color: tomato;
}
nav ul li { 
display: flex;

color: rgb(0, 0, 0);
font-size: 18px;
font-weight: bold;
border-radius: 5px;
padding: px;
margin: 15px;
list-style-type: none;
text-align: center;

}

.navegador-flex {
    display: flex;
    background-color: rgb(49, 32, 32);
    flex-direction: row;
    flex-wrap: nowrap; /* Multilinea*/
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
}

li:hover {
    background-color: rgb(71, 71, 75);
    color: white;
    
}
body nav form {
    
    color: white;
    height: 60px;
}
h5:hover {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}


form:hover {
    background-image: url(./image/hombre_zara_campaña-fw-2013-14_0\ \(1\).jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.footer {
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-align: center;
    background-color: rgb(253, 253, 253);

}
/*.fondoverde {
    background-color: green;
}*/

/*article {
    text-align: center;
    padding:  10px;
    margin: 10px;
  
}
img {
    position: relative;
    width: 340px;
    height: 450px;
    margin: 5px 5px 5px 5px;
}*/

.divimg {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px 180px 0px 180px ;
}

.textoindex {
    color: white;
    font-weight: bold;
}
div h5 p {
    color: white;
}


/* Menu Categoria*/

.menuHombre {
font-size: 14px;
font-weight: bold;
list-style-type: none;
padding: 2px;
width: 50;
height: 200;
display: block;
background-image: url(./Jerseyblue.jpg);
background-repeat: no-repeat;
background-position-x: center;
}
/* Iniciar Sesion */

.fondodepantalla {
background-image: url(./image/035424877b53a458fda0ecb384760ea7.jpg);
background-repeat: no-repeat;
margin: 0px;
background-size: 100%;
}
.fondodepantalla1 {
    background-image: url(./image/tyler-zara-017-1631632374.jpg);

    background-repeat: no-repeat;
    margin: 0px;
    background-size: 100%
}
.inicioSesion {
    color: rgb(0, 0, 0);
    padding: 10px;
    margin: 40px;
    font-size: 18px;
    display: block;
    text-align: center;

}
form {

color: black;
font-size: 18px;
font-weight: normal;
padding: 20px 20 px;
margin: 20px 20px;
text-align: center;
}
.form {

    color: black;
    font-size: 18px;
    font-weight: normal;
    padding: 20px 20 px;
    margin: 20px 20px;
    text-align: left;
}


.botonText {
 border-color: black;
 color: white;
 background-color: rgb(187, 36, 187);
 text-align: center;
 padding: 10px;
 
}
.btn {
   text-decoration: none;
   background-color: rgb(0, 0, 0);
   color: rgb(255, 255, 255);
   border-radius: 5px;
   display: inline-block;
   margin: 10px;
   font-size: 18px;
   text-transform: uppercase;
   font-weight: 600;
   padding: 10px 5px;
   text-align: center;
}

.inicio-flex {
display: flex;
}

/* Modificador de clase*/

.btn--blue {
border-color: violet;
color: white;
background-color: blue;
text-align: center;
}


/* Seccion Hombre Jerseys*/

.card-flex {
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-direction: row;
    flex-wrap: wrap; /* Multilinea*/
    list-style-type: none;
    justify-content: space-evenly;
    align-items: stretch;
}

a:hover {
    background-color: rgb(83, 80, 80);
    color: turquoise;
}